[submodule "pack/git/start/vim-repeat"]
	path = pack/git/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "pack/git/start/vim-unimpaired"]
	path = pack/git/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "pack/git/start/vim-commentary"]
	path = pack/git/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/git/start/vim-surround"]
	path = pack/git/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/git/start/vim-fugitive"]
	path = pack/git/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/git/start/vim-rhubarb"]
	path = pack/git/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb
