*~
.*swp
*swp
.netrwhist
tags
swap/
undodir/
node_modules/
package-lock.json
mobythesaurus.txt
vim-py/
vim-pydoc/
*.orig
.netrw*
plugged/
~/.vim/black/
cache/
doc/tags
private/
startup
Session.vim
swapdir/
*.spl
pack/**/doc/tags
doc/tags
